<div id="wrapper<%= todo._id %>">
  <form>
    <input type="datetime-local" name="deadline" id="deadline" value="<%= todo.deadline %>" <%= editable ? "" : "disabled" %> /> <% if(!editable) {%>
    <span><%= todo.text %></span>
    <% if(todo.isDone) {%>
    <span>Done</span>
    <% } else {%>
    <button hx-get="/done-todo/<%= todo._id %>" hx-target="body">Done</button>
    <button hx-get="/edit-todo/<%= todo._id %>" hx-target="#wrapper<%= todo._id %>">Edit</button>
    <% } %>
    <button hx-post="/delete-todo" hx-target="body">Delete</button>
    <% } else {%>
    <input name="new-todo" type="text" value="<%= todo.text %>" />
    <button hx-post="/edit-todo" hx-target="body">Done</button>
    <% } %>
    <input type="hidden" name="todo-id" value="<%= todo._id %>" />
  </form>
  <br />
</div>
